{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block content %}

<style>
    .card {
    border-radius: 10px;
    overflow: hidden; /* Asegura que el contenido no sobresalga */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade una sombra sutil */
    background-color: #fff; /* Fondo blanco para la tarjeta */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Efecto de transición suave */
}

.card:hover {
    transform: scale(1.02); /* Efecto de aumento al pasar el ratón */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Aumenta la sombra al pasar el ratón */
}
.card-body{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.main{
    display: flex;
    gap:10px;
    flex-wrap: wrap;
    width: 90%;
    margin: 10px auto;
}

#boton{
        margin-top: -3px;
    }


@media (max-width: 700px) {
    .main{
        width: 80%;
    }

    #boton{
        margin-top: 10px;
    }
}


</style>

<div class="alert alert-primary d-flex align-items-center" role="alert">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </svg>
    <div>
        Algunos juegos podrían no ser compatibles con ciertos dispositivos, ya que están diseñados para versiones anteriores de Android, específicamente para versiones inferiores a 7 u 8
    </div>
  </div>

<main class="main" >



{% for item in juegos %}

    <div class="card" style="width: 400px; height: auto; display: flex; margin: 0 auto; border-radius: 10px;" >
        <img src="{{ item.img }}" style="object-fit: cover; height: 50%; width: 100%;" >
        <div class="card-body" style="display: flex; justify-content: space-around;">
            <h5 class="card-title">{{ item.nombre }}</h5>
            <p class="card-text"><small class="text-body-secondary">Fecha De Lanzamiento - {{item.fecha}}</small></p>
            <p class="card-text">{{ item.descripcion }}</p>
            <a href="{{ item.link1 }}" id="boton" target="_blank" class="btn btn-primary">Descargar</a>

        </div>
    </div>
{% endfor %}

</main>


{% endblock %}