{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<main style="display: flex; gap:10px;  flex-wrap: wrap; width: 100%; justify-content: center; ">

{% for item in mejoras %}

<div class="card text-left" style="max-width: 300px; height: auto;">
    <div class="card-header 
         {% if item.title == 'Mejoras' %}
            bg-info
         {% elif item.title == 'Bug' %}
            bg-warning
         {% elif item.title == 'Error' %}
            bg-danger
         {% elif item.title == 'Informacion' %}
            bg-light
         {% endif %}" style="color: white;">
      {{ item.title }}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ item.subtitle }}</h5>
      <p class="card-text" style="max-width: 300px;">{{ item.text }}</p>
    </div>
    <div class="card-footer text-body-secondary">
      {{ item.footer }}
    </div>
</div>


{% endfor %}

</main>

{% endblock %}